.footer-container {
  padding: 68px 170px;
  .footer-content {
    display: flex;
    gap: 152px;
    justify-content: center;
    padding-bottom: 71px;
    border-bottom: 1px solid #e6e8ec;
  }
  .footer-bottom {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    .coppyright {
      color: #b1b5c3;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
.footer-left {
  width: 268px;
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #353945;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }
  .subcribe-button {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
    p {
      color: #353945;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    .search-button {
      display: flex;
      align-items: center;
      width: 219px;
      height: 49px;
      border-radius: 24px;
      border: 2px solid #e6e8ec;
      justify-content: space-between;
      padding: 8px 8px 8px 26px;
      input {
        width: 70%;
        border: none;
      }
      svg {
        cursor: pointer;
        width: 33px;
        height: 33px;
      }
    }
  }
}
.footer-services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &-heading {
    color: #353945;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }
  &-list-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .footer-services-item {
      text-decoration: none;
      color: #777e90;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
