.airtrav-services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3b71fe;
  width: 100%;
  height: 472px;
  gap: 60px;
}
.airtrav-services-heading-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.4px;
  color: #ffffff;
  text-align: center;
}
.airtrav-services-heading-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #f4f5f6;
}

.airtrav-services-card-list {
  display: flex;
  gap: 35px;
  .airtrav-services-card-item {
    width: calc((100% - 105px) / 4);
    padding: 25px 28px 15px 28px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-item-icon {
      width: 44px;
      height: 44px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      &--blue {
        background-color: #3b71fe;
      }
      &--green {
        background-color: #58c27d;
      }
      &--orange {
        background-color: #fa8f54;
      }
      &--yellow {
        background-color: #ffd166;
      }
    }
  }

  .card-item-value {
    color: #353945;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 18px;
  }
  .card-item-text {
    color: #777e90;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}
